body{
    background-color: black !important;
    font-family:'Gill Sans MT' !important;
}

main{
    border: 2px solid black;
    background-color: rgb(240, 236, 230);
    width: 75%;
    margin: 0 auto;
    border-radius: 10px ;
    padding: 2% 0;
}


hr + aside{
    text-align: center;
}

aside ul li a{
    color: blue;
}

.grid{
    display: flex;
}

main, main + footer, nav{
    box-shadow: 1px 2px 10px 5px grey;

}

div > section{
    margin-left: 30px;
}

.titulo {
    font-weight: bold;
    text-align:center;
    font-size: larger;
}

.table{
    width: 95vh !important;
    text-align: center;
}

#imagens{
    display: flex;
    align-items: center; 
    justify-content: space-around;
}

#imagens article footer h4{
    font-size: medium;
    text-align: center;
    font-style: italic;
}

header .pokemon +  h1{
    color: white;
    margin-bottom: 25px;
}

h1{
    text-align: center;
    font-family: Impact;
}

header > img{
    margin: 0 auto;
    display: flex;
    width: 280px;
    height: 170px;

}

td, th {
    vertical-align: middle;
}

.top{
    color: #FFCB08; 
    background-color: #2A6FB6;
    padding: 5px;

}


.container section + section{
    border: 2px dashed black;
    margin-top: 15px;
    padding: 10px;
    background-color: white;
    color: rgb(51, 12, 140);
}

#tipos{
    margin-right: 12px;
}

div > img{
    align-self: center;
}

caption{
    text-align:center !important;
    font-style: italic;
}

div section header h2, div section header h3{
    font-size:larger;
    text-align: center;
    font-family:'Lucida Sans Unicode';
    font-weight: bold;
}

.borda header h3{
    font-size:medium;
    font-family:'Lucida Sans Unicode';
    font-weight: bold;
    text-align: center;

}

nav a button{
    margin: 0px 10px 0px 10px;
}

header > nav, nav{
    height: 4rem;
    margin: 0 auto;
    border-radius: 150px 150px 0px 0px;
    display: flex;
    background-color: rgb(201, 29, 29);
    justify-content: center;
    width: 70vw;
    align-items: center;    
}

.navegar{
    gap: 10px;
    height: 50px;
}

main + footer {
    margin: 0 auto;
    border-radius: 0px 0px 150px 150px;
    background-color: rgb(241, 241, 241);    
    width: 70%;
    text-align: center;
    font-size: large;
    padding: 5px;
    margin-bottom: 20px;
}

main + footer:hover {
    color: rgb(74, 98, 204);
}

span.image-container {
    margin-left: 70px;
}

.image-container {
    display: none;
}

li:hover .image-container {
    display: block;
}

.listas + .listas{
    margin-top: 30px;
}

.listas li:hover{
    color:green;
}


.borda{
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    
}

#geracoes{
    margin-top: 20px;
    font-family:'Gill Sans MT';
}

#geracoes header h2{
    text-align: center;
    font-family: Impact;
}

#geracoes header p{
    padding: 0px 20px;
}

#pokemonFav header h2{
    text-align: center;
    font-family: Impact;
    font-size: x-large;
}

#pokemonFav > table{
    margin: 0 auto;
    text-align: center;
}

main > header h1{
    margin-bottom: 30px;
}

.links{
    width: 125vh;
}

button.btn.btn-danger{
    color: white;
}


.botoes{
    display: inline-block;
    padding: 6px 15px;
    background-color: #fff;
    color: #0b2969;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
}

#botao{
    display: inline-block;
    padding: 6px 15px;
    background-color: rgb(201, 29, 29);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

form.container{
    background-color: white;
    padding: 10px;
    width: 75%;
    border-radius: 10px;
}

.aumentar{
    width: 100%;
}

input[type="file"] {
    border: 1px solid rgb(87, 87, 87);
    width: 100%;
} 

div input[type="checkbox"]{
    margin: 0px 5px 0px 10px;
}

#ump01, #doisp02, #tresp03{
    display: inline-block;
    padding: 6px 20px;
    background-color: #13398a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#um, #dois, #tres{
    display: inline-block;
    padding: 3px 15px;
    background-color: #355cb1;
    text-decoration: none;
    color: #fff;   
    border-radius: 5px;
}

.forms{
    padding: 5px;
}

fieldset{
    border: 1px solid rgb(87, 87, 87) !important;
    padding: 10px !important;
    margin-bottom: 20px !important;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.tipoForm{
    margin:0;
}

